html {
    background: linear-gradient(90deg, #f7f3f0 21px, transparent 1%) center, linear-gradient(#f7f3f0 21px, transparent 1%) center, #a799cc;
    background-size: 22px 22px;
}
body {
    margin: 0 auto;
    position: relative;
    padding: 20px;
    background-color: #f7f3f0;
    padding-top: 0 auto;
    vertical-align: middle;
    max-width: 600px;
    line-height: 1.6;
    color: #2f2f2f;
    font-family: 'Reem Kufi', sans-serif;
}

a:link {
    color: #d19163
}

a:visited {
    color: rgb(137, 119, 99)
}

img {
    width: 60%;
    margin: 0 auto;
    display: block;
}